[core]
#	hookspath = /Users/ranukala/lib/githooks/
#	excludesfile = /Users/ranukala/.gitignore
	editor = vim
	ignorecase = false
	autocrlf = true

[user]
	email = nukala@gmail.com
	name = ravi

[push]
	default = current
